%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Untether.space
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{description: "Tracking the Tether risk premium"}/
    %link{href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "/vendor/social-likes_classic.css", rel: "stylesheet"}/
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/
  %body
    .container
      .bs-docs-section
        .row{style: "margin: 20px 0px 0px -50px"}
          .col-md-6
            %p.h1.text-primary
              Untether.space
          .col-md-6
            %p
            %p
            %p.lead
              Tracking the Tether (USDT) risk premium

        .row
          .col-md-6
            %p.h2.text-danger
              Exchanges using Tether
          .col-md-6
            %p.h2.text-success
              Exchanges using USD

        .row
          .col-md-1
            %p
              %b
                Name
            %p
              Bitfinex
            %p
              Bittrex
            %p
              Hitbtc
            %p
              Poloniex

          .col-md-2.price.text-right
            %p
              %b
                Price
            %p.BitFinex
            %p.Bittrex
            %p.Hitbtc
            %p.Poloniex

          .col-md-1.volume.text-right
            %p
              %b
                Volume
            %p.BitFinex
            %p.Bittrex
            %p.Hitbtc
            %p.Poloniex
          .col-md-2

          .col-md-1
            %p
              %b
                Name
            %p
              GDAX
            %p
              Bitstamp
            %p
              Kraken

          .col-md-2.price.text-right
            %p
              %b
                Price
            %p.GDAX
            %p.Bitstamp
            %p.Kraken

          .col-md-1.volume.text-right
            %p
              %b
                Volume
            %p.GDAX
            %p.Bitstamp
            %p.Kraken

        .row
          .col-md-2
            %p.text-danger
              %b
                Weighted average
          .col-md-4
            %p.text-danger
              %b.tetherAvg
          .col-md-2
            %p.text-success
              %b
                Weighted average
          .col-md-4
            %p.text-success
              %b.usdAvg

        .row
          .col-md-3
            %p.h2.text-danger
              Risk premium
          .col-md-9
            %p.h2.text-danger
              %span.spread
                %i.fa.fa-spinner.fa-spin
              (
              %span.h2.text-danger.spreadpercent
                %i.fa.fa-spinner.fa-spin
              )

        .row
          .col-lg-12#curve_chart{:style => "height: 30%"}

        .row
          .col-lg-12
            %p
            %p
              %span
                Updates every 30 seconds.  Last updated at
              %span.date
              %span.spinner
                %i.fa.fa-spinner.fa-spin

        .row
          .col-md-12
            %p.h3.text-primary
              What does this mean?
            %p
              Most reputable Bitcoin exchanges allow their customers to exchange cryptocurrencies for US dollars (USD).
              However, some large exchanges including Bitfinex only offer "Tether" tokens (USDT), which are supposed
              to be exchangable 1:1 to US dollars.
            %p
              Because Tethers are riskier than actual US dollars, the market attaches a risk premium to them by
              demanding more Tethers than USD in exchange for a Bitcoin.   This site tracks that risk premium.

            %p.h3.text-primary
              Why should I care?
            %p
              Over $2 billion dollars of Tether have been issued, but the company behind them has never been audited
              and was
              %a{:href => "https://www.nytimes.com/reuters/2018/01/30/business/30reuters-usa-cftc-subpoena.html"} subpoenaed by the Commodity Futures Trading Commission in December 2017.
            %p
              What's more, Tether is closely linked to the Bitfinex exchange, which is suspected of using Tether
              to
              %a{:href => "https://www.nytimes.com/2018/01/31/technology/bitfinex-bitcoin-price.html"} artificially prop up the price of Bitcoin.

            %p
              If it becomes clear that Tether is not backed by USD, Tether holders will try to cash out into any other
              cryptocurrency at any price possible, causing prices on those exchanges to skyrocket.  If this happens, those exchanges
              may become insolvent and trap customer funds completely,
              %a{:href => "https://dmarron.files.wordpress.com/2013/09/bitcoin-spread.jpg"} as happened in 2013 with Mt. Gox.

            %p.h3.text-primary
              Did you find this useful?
            %p
              Help spread the word:
              .social-likes
                .facebook{title: "Share link on Facebook"} Facebook
                .twitter{title: "Share link on Twitter", "data-via" => "jpatokal"} Twitter
                .plusone{title: "Share link on Google+"} Google+

            %p.h3.text-primary
              Credits
            %p
              Data from
              %a{:href => "https://www.cryptonator.com/api"} Cryptonator
              and the
              %a{:href => "https://docs.gdax.com/?ruby#get-product-ticker"} GDAX API.
              %a{:href => "https://github.com/jpatokal/untether"} Source on Github.

    %script{src: "vendor/jquery-1.9.1.min.js"}
    %script{src: "vendor/bootstrap/js/bootstrap.min.js"}
    %script{src: "vendor/social-likes.min.js"}
    %script{src: "https://www.gstatic.com/charts/loader.js"}
    %script{src: "js/untether.js"}
